<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:darksalmon">
    <nav class="navbar container navbar-expand-sm bg-dark">
        <a class="navbar-brand" href="#">
            @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager") || User.IsInRole("TeamMember") || User.IsInRole("User"))
            {

                @Html.ActionLink("JIRA2.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) }
            else
            {
                @Html.ActionLink("JIRA2.0", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })}
                
        </a>
        <ul class="navbar-collapse">
            @if (User.IsInRole("Administrator"))
            {
                <li class="nav-item active mr-4">
                    <a class="nav-link" href="#">  @Html.ActionLink("Users", "Index", "Users")  </a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">  @Html.ActionLink("Projects", "Index", "Project")  </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">  @Html.ActionLink("New project", "New", "Project")  </a>
                </li>
            }
            else if (User.IsInRole("ProjectManager") || User.IsInRole("TeamMember")|| User.IsInRole("User"))
            {
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="#">  @Html.ActionLink("Projects", "Index", "Project")  </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">  @Html.ActionLink("New project", "New", "Project")  </a>
                </li>
            }
        </ul>
        <span class="nav-link mr-4"> @Html.Partial("_LoginPartial") </span>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
